


@font-face { 
    font-family: 'Marvel'; 
    src: url('../fonts/CranberryJamSerif.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;
}



@font-face { 
    font-family: 'Sensei'; 
    src: url('../fonts/Sensei-Medium.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;
}